<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dan Zaharia | Photography</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <%- yield %>

<script type="text/javascript" src="scripts/ui-min.js">
</script>
</body>
</html>
