<div class="location-container--hong-kong">
  <div class="hong-kong__intro-card-container">
    <h1 class="hong-kong__intro-card-title--chinese">香港</h1>
    <div class="hong-kong__intro-card-separator"></div>
    <h2 class="hong-kong__intro-card-title--english">Hong Kong</h2>
  </div>
</div>
