$pink: #fee1d6;
$pink--dark: #ff2467;
$blue: #136bf8;
$green: #10fd59;

$light-gray:#d8d8d8;
$dark-gray: #1c1c1c;

$pink-shadow--heavy: 0 0 46px $pink--dark;
$pink-shadow--light: 0 0 20px $pink--dark;


// create the rules for title fringing
%fringed {
  &::after,
  &::before {
    filter: blur(2px);
    position: absolute;
    text-shadow: none;
    width: 366px;
    z-index: -1;
  }

  &::after {
    color: $blue;
    margin-top: 4px;
    margin-left: -366px + 4px;
    opacity: .75;
  }

  &::before {
    color: $green;
    margin-top: -3px;
    margin-left: -3px;
    opacity: .6;
  }
}

.location-container {
  &--hong-kong {
    @extend %vertical-center;
    justify-content: center;
  }
}

.hong-kong {
  &__intro-card {

    &-container {
      @extend %vertical-center;
      filter: blur(0);
    }

    &-title {

      &--chinese,
      &--english {
        color: $pink;
        font-family: $playfair;
        text-shadow: $pink-shadow--heavy;
      }

      &--chinese {
        font-size: 183px;
        @extend %fringed;

        &::after,
        &::before {
          content: '香港';
        }
      }

      &--english {
        font-size: 59px;
        @extend %fringed;

        &::after,
        &::before {
          content: 'Hong Kong';
        }
      }
    }

    &-separator {
      border-bottom: 6px $pink solid;
      box-shadow: $pink-shadow--heavy;
      width: 100%;

      &::before,
      &::after {
        content: '';
        filter: blur(3px);
        position: absolute;
        width: 366px;
        z-index: -1;
      }

      &::before {
        border-bottom: 6px $blue solid;
        margin-top: 1px;
        margin-left: 1px;
        opacity: .8;
      }

      &::after {
        border-bottom: 6px $green solid;
        margin-top: -1px;
        margin-left: -1px;
        opacity: .6;
      }
    }

    &-background-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('../../img/hong_kong_peak.jpg');
      background-position: center;
      background-size: cover;
      filter: blur(0);
    }
  }

  &__gallery {
    @extend %vertical-start;
    // background-color: $dark-gray;
    width: 100%;
    padding: 4rem 10% 15rem;

    &-header {
      color: $pink;
      font-family: $playfair;
      text-shadow: $pink-shadow--light;
      font-size: 3rem;
      margin-bottom: 4rem;

      &::after,
      &::before {
        content: '香港 | Hong Kong';
        text-shadow: none;
        filter: blur(1px);
        width: auto;
        position: absolute;
        z-index: -1;
      }

      &::after {
        color: $blue;
        margin-top: 2px;
        margin-left: -424 + 2px;
        opacity: .9;
      }

      &::before {
        color: $green;
        margin-top: -2px;
        margin-left: -2px;
        opacity: .5;
      }
    }

    &-section {
      @extend %vertical-start;
      justify-content: space-between;

      &-text {
        font-family: $open-sans;
        color: $light-gray;
        font-size: .875rem;
        line-height: 1.5rem;
        width: 60%;
        margin-bottom: 4rem;

        ::first-letter {
          font-family: $playfair;
          text-shadow: $pink-shadow--light;
          font-size: 3.5rem;
          line-height: 0;
        }
      }

      &-image {
        width: 100%;
        max-height: 90vh;
        margin-bottom: 4rem;

        &-list {
          width: 100%;
          list-style: none;
        }

        img {
          max-height: 90vh;
          max-width: 100%;
        }
      }
    }
  }
}
