$pink: #fee1d6;
$pink--dark: #ff2467;
$blue: #136bf8;
$green: #10fd59;

$light-gray:#d8d8d8;
$dark-gray: #1c1c1c;

$pink-shadow--heavy: 0 0 46px $pink--dark;
$pink-shadow--light: 0 0 20px $pink--dark;

$breakpoint-medium: 700px;
$breakpoint-medium-wide: 800px;
$breakpoint-wide: 1200px;

@mixin hong-kong-title ($english-font-size) {
	&-title--chinese,
  &-title--english {
    font-family: $playfair;
		text-shadow: $pink-shadow--heavy;
    color: $pink;
		margin: 0;
	}

	&-title--english {
		@include hong-kong-title-fringe ($english-font-size, 'Hong Kong');
		font-size: $english-font-size;
	}

	&-title--chinese {
		@include hong-kong-title-fringe ($english-font-size, '香港');
		font-size: $english-font-size / .32;
	}

	&-separator {
		@include hong-kong-title-fringe ($english-font-size, '');
		width: $english-font-size / .16;
		border: ($english-font-size / 10 - 2) $pink solid;
		box-shadow: $pink-shadow--heavy;

		&::after,
		&::before {
			width: $english-font-size / .16;
			height: $english-font-size / 10 - 2;
		}

		&::after {
			margin-left: 3px;
			background-color: $blue;
		}

		&::before {
			background-color: $green;
		}
	}
}

@mixin hong-kong-title-fringe ($english-font-size, $content) {
	&::after,
	&::before {
		filter: blur(2px);
		position: absolute;
		text-shadow: none;
		width: $english-font-size / .16;
		z-index: -1;
	}

	&::after {
		content: $content;
		color: $blue;
		margin-top: 4px;
		margin-left: -($english-font-size / .16) + 6px;
		opacity: .75;
	}

	&::before {
		content: $content;
		color: $green;
		margin-top: -3px;
		margin-left: -3px;
		opacity: .6;
	}
}

.location-container {
  &--hong-kong {
    @extend %vertical-center;
    justify-content: center;
  }
}

.hong-kong {
  &__intro-card {
    @include hong-kong-title (40px);

    @include breakpoint ($breakpoint-medium) {
      @include hong-kong-title (60px);
    }

    &-container {
      @extend %vertical-center;
      justify-content: center;
      filter: blur(0);
    }

    &-background-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('../../img/hong_kong_peak.jpg');
      background-position: center;
      background-size: cover;
      filter: blur(0);
    }
  }

  &__gallery {
    @extend %vertical-start;
    // background-color: $dark-gray;
    width: 100%;
    padding: 4rem 0 15rem;

    @include breakpoint ($breakpoint-medium-wide) {
      padding: 6rem 10% 15rem;
    }

    @include breakpoint ($breakpoint-wide) {
      padding-top: 7rem;
    }

    &-header {
      color: $pink;
      font-family: $playfair;
      text-shadow: $pink-shadow--light;
      font-size: 1.8rem;
      margin-bottom: 4rem;
      padding: 0 10%;
      @include hong-kong-title-fringe(1.8 * 16px, '香港 | Hong Kong');

      &::after {
        margin-left: -250px;
      }

      @include breakpoint ($breakpoint-medium) {
        font-size: 3rem;

        &::after {
          margin-left: -420px;
        }
      }

      @include breakpoint ($breakpoint-medium-wide) {
        padding: 0;
      }

      @include breakpoint ($breakpoint-wide) {
        margin-bottom: 6rem;
      }

      &--back {
        @extend .hong-kong__gallery-header;
        @include hong-kong-title-fringe(1.8 * 16px, 'back');
        text-transform: lowercase;

        &::after {
          margin-left: -129px;
        }
      }
    }

    &-section {
      @extend %vertical-start;
      justify-content: space-between;

      &-image {
        width: 100%;
        margin-bottom: 0;

        @include breakpoint ($breakpoint-medium) {
          margin-bottom: 3rem;
        }

        &-list {
          @extend %vertical-start;
          width: 100%;
          list-style: none;
          margin-bottom: 2rem;

        }

        img {
          max-width: 100%;

          @include breakpoint ($breakpoint-medium) {
            max-height: 90vh;
          }
        }
      }
    }
  }
}
